[submodule "auth/saml2"]
	path = auth/saml2
	url = https://github.com/catalyst/moodle-auth_saml2.git
[submodule "mod/booking"]
	path = mod/booking
	url = https://github.com/Wunderbyte-GmbH/moodle-mod_booking
[submodule "local/wunderbyte_table"]
	path = local/wunderbyte_table
	url = https://github.com/Wunderbyte-GmbH/moodle-local_wunderbyte_table.git
[submodule "filter/shortcodes"]
	path = filter/shortcodes
	url = https://github.com/branchup/moodle-filter_shortcodes.git
[submodule "customfield/field/dynamic"]
	path = customfield/field/dynamic
	url = https://github.com/soorajsingh/moodle-customfield_dynamic.git
[submodule "local/entities"]
	path = local/entities
	url = https://github.com/Wunderbyte-GmbH/moodle-local_entities.git
[submodule "local/shopping_cart"]
	path = local/shopping_cart
	url = https://github.com/Wunderbyte-GmbH/moodle-local_shopping_cart.git
[submodule "local/musi"]
	path = local/musi
	url = https://github.com/Wunderbyte-GmbH/local_musi.git
[submodule "payment/gateway/payunity"]
	path = payment/gateway/payunity
	url = https://github.com/Wunderbyte-GmbH/moodle-payment_gw_payunity.git
[submodule "admin/tool/forcedcache"]
	path = admin/tool/forcedcache
	url = https://github.com/catalyst/moodle-tool_forcedcache.git
[submodule "blocks/configurable_reports"]
	path = blocks/configurable_reports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
