{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_adele/initview
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "userid" : 1

    }
}}

<!-- Ensure the following markup resides within the content area of your Moodle page -->
<div class="container my-4" id="userassignmentview">
  <!-- Eckdaten -->
  <div class="card mb-4">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center pr-4">
    <h2>{{#str}} myassignmentto , local_taskflow {{/str}} {{fullname}}</h2>
    <img src="{{profilepicurl}}" alt="Profile Picture" class="profile-circle">
    </div>
    <div class="card-body">
        {{#assignmentdata}}
        <p>{{description}}</p>
        <hr>
        <p>{{#str}} duedateto , local_taskflow {{/str}} <b>{{duedate}}</b></p>
        <p>{{#str}} supervisor:contacther , local_taskflow {{/str}} <b><a href="mailto:{{supervisoremail}}">{{supervisorfullname}}</a></b></p>
        {{#target}}
        <hr>
        <h5>{{#str}} competencies , local_taskflow {{/str}}:</h5>
        {{/target}}
        {{#target}}
        <hr>
        <dl class="row">
            <dd class="col-sm-12">
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{targetname}}</span>
                    {{#allowuploadevidence}}
                        {{^evidence.evidence_name}}
                        <button class="btn btn-primary btn-sm"
                            data-action="openuserevidencemodal"
                            data-targetid="{{targetid}}"
                            data-assignmentid="{{assignmentid}}"
                            data-competencyid="{{targetid}}"
                            data-evidenceid="{{evidence.competencyevidenceid}}"
                            data-assingmentcompetencyid="{{evidence.id}}">
                            <i class="fas fa-upload"></i> {{#str}} uploadevidence , local_taskflow {{/str}}
                        </button>
                        {{/evidence.evidence_name}}
                    {{/allowuploadevidence}}
                    {{#evidence.evidence_name}}
                    <div class="d-flex justify-content-between align-items-center">
                    <button class="btn btn-primary btn-sm mr-2"
                        data-action="openuserevidencemodal"
                        data-targetid="{{targetid}}"
                        data-assignmentid="{{assignmentid}}"
                        data-competencyid="{{targetid}}"
                        data-evidenceid="{{evidence.competencyevidenceid}}"
                        data-assingmentcompetencyid="{{evidence.id}}">
                        <i class="fas fa-edit"></i> {{#str}} edit {{/str}}
                    </button>
                    <button class="btn btn-danger btn-sm"
                        data-action="deleteuserevidence"
                        data-targetid="{{targetid}}"
                        data-assignmentid="{{assignmentid}}"
                        data-competencyid="{{targetid}}"
                        data-evidenceid="{{evidence.competencyevidenceid}}"
                        data-assingmentcompetencyid="{{evidence.id}}">
                        <i class="fas fa-trash"></i> {{#str}} delete {{/str}}
                    </button>
                    </div>
                    {{/evidence.evidence_name}}
                </div>
                {{#evidence}}
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <h5 class="card-title mb-1">{{evidence_name}}</h5>
                            <span class="badge bg-warning text-dark">
                                 underreview
                            </span>
                        </div>

                        <p class="card-text">{{{evidence_description}}}</p>

                        <p class="text-muted small mb-2">
                            <em>
                                {{#userdate}} {{evidence_timecreated}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}
                            </em>
                        </p>

                        {{#file}}
                        <a href="{{url}}" download class="btn btn-primary" title="{{name}}">
                            <i class="icon fa fa-download" aria-hidden="true"></i> {{name}}
                        </a>
                        {{/file}}
                    </div>
                </div>
                {{/evidence}}
            </dd>
        </dl>
        {{/target}}
        {{/assignmentdata}}
    </div>
  </div>
  {{#courselist}}
    <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center pr-4">
        <h2>{{#str}} possiblecourses , local_taskflow {{/str}}:</h2>
        <div class="profile-circle"><i class="fa fa-graduation-cap text-dark" aria-hidden="true"></i></div>
        </div>
        <div class="card-body">
            <div class="course-list">
            {{{courselist}}}
            </div>
        </div>
    </div>
    {{/courselist}}
    {{^courselist}}
    <div class="card mb-4">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center pr-4">
        <h2>{{#str}} possiblecourses , local_taskflow {{/str}}:</h2>
        <div class="profile-circle"><i class="fa fa-graduation-cap text-dark" aria-hidden="true"></i></div>
        </div>
        <div class="card-body">
            <p>{{#str}} nocoursesavailable , local_taskflow {{/str}}</p>
        </div>
    </div>
    {{/courselist}}
    {{#myassignments}}
    <div class="card mb-4" id="myassignments">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center pr-4">
        <h2>{{#str}} myassignments , local_taskflow {{/str}}:</h2>
        <div class="profile-circle"><i class="fas fa-tasks text-dark" aria-hidden="true"></i></div>
        </div>
        <div class="card-body">
                {{{myassignments}}}
        </div>
    </div>
    {{/myassignments}}
</div>


{{#js}}
require(['local_taskflow/userevidence'], function(init) {
    init.init({{userid}});
});
{{/js}}
