{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_adele/initview
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "userid" : 1

    }
}}

<!-- Ensure the following markup resides within the content area of your Moodle page -->

<div class="container my-4">
    <!-- Dashboard Header -->
    <!-- myassignments -->
    <div class="row">
        <!-- Upcoming Trainings -->
        <div class="col-md-12">
            {{{myassignments}}}
        </div>
    </div>
    <!-- supervisorassignments -->
    <div class="row my-4">
        <!-- supervisorassignments -->
        <div class="col-md-12">
            {{{supervisorassignments}}}
        </div>
    </div>
</div>

{{#js}}
require(['local_taskflow/app'], function(init) {
    init.init();
});
{{/js}}